html, body{
    min-height: 100vh;
    width: 100%;
}
.box{
    padding: 10px;
    border: 0.5px solid #0D1282;
}
.list_box{
    min-height: 80vh;
}
li{
    list-style: circle;
}
.search{
    width: 100%;
    border: none;
    border-bottom: 2px solid #0D1282;
}
.search_box{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#college_name{
    text-decoration: none;
    color: #0D1282;
}
#college_name:hover{
    color: rgb(38, 45, 190);
}